@import url('https://fonts.googleapis.com/css?family=Open+Sans:800|Poppins:500|Russo+One&subset=cyrillic');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    display: table;
    top: 0;
}

.intro .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.content h1 {
    font-family: 'Open Sans', sans-serif;
    /* color: #30D5C8; */
    color: #98FF98;
    font-size: 350%;
    text-shadow: 2px 2px #a2abbc;
    line-height: .9;
}

.btn {
    font-size: 200%;
    line-height: .5;
    font-family: 'Russo One', sans-serif;
    text-decoration: none;
    color: #f7cb3b;
    border: 2px solid #f7cb3b;
    padding: 10px 20px;
    border-radius: 5px;
}

.footer {
    font-family: 'Poppins', sans-serif;
    vertical-align: bottom;
    line-height: 20;
}

.btn:hover {
    color: #ef9d1a;
    border: 2px solid #ef9d1a;
}

@media (max-width: 768px) {
    .content h1 {
        font-size: 250%;
    }
    
    .btn {
        font-size: 110%;
        padding: 7px 15px;
    }
}